.input {
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px;
    color: white;
    font-size: medium;
    text-align: center;
}

p {
    color: white;
    font-size: large;
    font-weight: 700;
}

input:focus {
    outline: none;
}